/* Structure */


.example-container {
  display: flex;
  flex-direction: column;
  
}

.example-button{
  width: 200px;
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
}

.example-card {
  width: 100%;
}

