<div class="example-container mat-elevation-z8">

    <div class="example-header">

        <mat-form-field>

          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Personel Sorgula " >
        </mat-form-field>
            
      </div>
      <button mat-raised-button color="primary" (click)="yeniKullanici()" value="Yeni Kullanıcı Kaydet">Yeni Kullanıcı Ekle </button>

  <mat-table #table [dataSource]="dataSource">
  <!-- Tc Kimlik No -->
  <ng-container matColumnDef="tcNo">
      <mat-header-cell *matHeaderCellDef> TC Kimlik No </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.tcNo}} </mat-cell>
      </ng-container>

      
  <!-- Adı -->
  <ng-container matColumnDef="kimlik">
  <mat-header-cell *matHeaderCellDef> Adı Soyadı (Sicil No) </mat-header-cell>
  <mat-cell *matCellDef="let user"> {{user.adi}} {{user.soyadi}} ({{user.sicilNo}}) </mat-cell>
  </ng-container>




  <!-- Weight Column -->
  <ng-container matColumnDef="sicilNo">
    <mat-header-cell *matHeaderCellDef> Sicil No </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.sicilNo}} </mat-cell>
  </ng-container>

   <!-- Weight Column -->
   <ng-container matColumnDef="butonlar">
      <mat-header-cell *matHeaderCellDef> Kullanıcı Seç </mat-header-cell>
      <mat-cell *matCellDef="let user">
          <button mat-raised-button color="primary" (click)="onSelect(row)" value="Yeni Kullanıcı Kaydet"><i class="fas fa-users"></i></button>
         </mat-cell>
    </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="onSelect(row)"></mat-row>
</mat-table>
<div>
    <mat-table #table [dataSource]="selectedUser">
        <!-- Tc Kimlik No -->
        <ng-container matColumnDef="tcNo">
            <mat-header-cell *matHeaderCellDef> TC Kimlik No </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.tcNo}} </mat-cell>
            </ng-container>
      
            
        <!-- Adı -->
        <ng-container matColumnDef="kimlik">
        <mat-header-cell *matHeaderCellDef> Adı Soyadı (Sicil No) </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.adi}} {{user.soyadi}} ({{user.sicilNo}}) </mat-cell>
        </ng-container>
      
      
      
      
        <!-- Weight Column -->
        <ng-container matColumnDef="sicilNo">
          <mat-header-cell *matHeaderCellDef> Sicil No </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.sicilNo}} </mat-cell>
        </ng-container>
      
         <!-- Weight Column -->
         <ng-container matColumnDef="butonlar">
            <mat-header-cell *matHeaderCellDef> Kullanıcı Seç </mat-header-cell>
            <mat-cell *matCellDef="let user">
                <button mat-raised-button color="primary" value="Yeni Kullanıcı Kaydet"><i class="fas fa-users"></i></button>
               </mat-cell>
          </ng-container>
      
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
      </mat-table>
</div>



  