<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="Personel Adı">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Personel Soyadı">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput #tcNo maxlength="11" placeholder="TC Kimlik No" >
      <mat-hint align="end">{{tcNo}} / 11</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput #sicilNo maxlength="5" placeholder="TC Kimlik No" >
        <mat-hint align="end">{{sicilNo}} / 5</mat-hint>
      </mat-form-field>


  <mat-form-field>
        <mat-select placeholder="Birim Seçiniz">
            <mat-option *ngFor="let birim of birimler" [value]="birim.BirimID">
              {{ birim.BirimAdi }}
            </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
          <mat-select placeholder="Unvan Seçiniz">
              <mat-option *ngFor="let unvan of unvanlar" [value]="unvan.UnvanId">
                {{ unvan.UnvanAdi }}
              </mat-option>
        </mat-select>
      </mat-form-field>
  
</div>
